<h2>Books ({{model.results.length}})</h2>
{{#each model.results as |item|}}
  <article>
    <header>
      <img src="{{item.data.cover.url}}"/>
      <h2>{{as-text item.data.title}}</h2>
    </header>
    {{as-html item.data.summary}}
  </article>
{{/each}}